 .chessboard {
      display: grid;
      grid-template-columns: repeat(10,1fr);
      width: 640px;
      height: 640px;
      border: 1px solid rgb(0, 88, 132);
      text-align: center;
      margin: auto;
    }

.chess-square {
    width:  100%;
    height: 100%;
    border: 1px solid black;
    
}

.white-square {
    background-color: #f0d9b5;
}

.black_square {
     background-color: #b58863;
}

.border-square {
     border: 1px solid black;
     background-color: #b58863;
     margin: auto;
     text-align: center;
}  