 .chessboard {
      display: grid;
      grid-template-columns: repeat(10,1fr);
      width: 640px;
      height: 640px;
      border: 1px solid rgb(0, 88, 132);
      text-align: center;
      margin: auto;
    }

.chess-square {
    width:  64px;
    height: 64px;
    border: 1px solid black;
    
}

.white-square {
    background-color: #f0d9b5;
}

.black_square {
     background-color: #b58863;
}

.border-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
     border: 1px solid black;
     background-color: #90633e;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     font-size: 30px;
    
     
}  