#page-container {
   background-image:url(../images/wooden-background.jpg);
   background-size:cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   min-height:100vh;
 }

 #menu-page-container {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
  padding-left:150px;
  padding-top:20px;
  

 }
.chessboard {
     /* float:right;*/
      position: center;
      display: grid;
      grid-template-columns: repeat(10,1fr);
      width: 660px;
      height: 660px;
      text-align: center;
      color:#f0d9b5;
      margin:auto;
      box-sizing:border-box;
      padding-top:60px;
      filter: drop-shadow(0px 0px 50px black);
    }

.chess-square {
    width:  64px;
    height: 64px;
    /*border: 1px solid  #000000;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}

.white-square {
    background-color: #f0d9b5;
    border: solid #f0d9b5;
}

.black_square {
     background-color: #b58863;
     border: solid  #b58863;
}

/*.a1 {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-top: 1px solid #f0d9b5;
    border-left: 1px solid #f0d9b5;
}

.h8 {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-bottom: 1px solid #f0d9b5;
    border-right: 1px solid #f0d9b5;
}*/

/*.white-left {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-left: 1px solid #f0d9b5;
}*/

/*.white-right {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-right: 1px solid #f0d9b5;
}*/

/*.white-top {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-top: 1px solid #f0d9b5;
}*/

/*.white-bottom {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-bottom: 1px solid #f0d9b5;
}*/

.border-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;

     background-color: #90633e;
     font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
     font-size: 30px;
     border: solid #90633e;
     
}  

#sidebar {
    background-color: red;
    float:left;
    width: 250px;
    height:200px;

}
*{margin: 0;
padding: 0;}

nav {
  width: 110px;
  height: 100vh;
  background-color: #3d241b; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  /*padding-top: 30px;*/
  overflow: hidden;
  transition: width 0.3s ease;
  filter: drop-shadow(0px 0px 10px black);

}

nav:hover {
  width: 250px;
}

ul {
  width: 200px;
  padding-top: 30px;
  margin: 0;

}

ul li {
  list-style: none;
  width: 100%;
  height: 100%;
}

ul li a {
  display: flex;
  align-items: center;
  gap: 35px;
  width: 100%;
  height: auto;
  padding: 10px 25px;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-size: 25px;

  transition: 0.3s ease, padding-left 0.3s ease;
}

ul li img {
  height: 60px;
  width: 60px;
  object-fit: contain;
  flex-shrink: 0;
}
ul li p {
  color: #ffedcd;
  margin: 0px;
  white-space: nowrap;
  transition: color 0.3s ease;
}

ul li a:hover {
  background: #ffedcd;
  padding-left: 35px;
  height: 40%;
  width: 100%;
}

ul li a:hover > p {
  color:#39231b;
}

#header {
  font-size:45px;
}

#menu-page-container > p {
  font-size: 16px;
  line-height: 1.6;
  color: #ffedcd;
  margin-bottom: 15px;
  padding-right: 40px;
}

#menu-page-container .rules {
  font-size: 18px;
  text-shadow: 2px 2px 6px black;
  letter-spacing:.05rem
}

#menu-page-container .rule-title {
  font-weight: bold;
  font-size: 25px;
  text-shadow: 2px 2px 6px black;
  letter-spacing: .05rem;
}

#menu-page-container .note {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 6px black;
  letter-spacing: .01rem;
}

#menu-page-container .title {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 6px black;
  letter-spacing: .1rem;
}

#header {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffedcd;
  margin-bottom: 15px;
}

.selected{
  background-color: green;
}

