 #page-container {
   background-image:url(../images/wooden-background.jpg);
   background-size:cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   height:1000px;
 }
 .chessboard {
     /* float:right;*/
      position: center;
      display: grid;
      grid-template-columns: repeat(10,1fr);
      width: 660px;
      height: 660px;
      text-align: center;
      color:#f0d9b5;
      margin:auto;
      box-sizing:border-box;
      padding-top:60px;
      filter: drop-shadow(0px 0px 50px black);
    }

.chess-square {
    width:  64px;
    height: 64px;
    /*border: 1px solid  #000000;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}

.white-square {
    background-color: #f0d9b5;
    border: solid #f0d9b5;
}

.black_square {
     background-color: #b58863;
     border: solid  #b58863;
}

/*.a1 {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-top: 1px solid #f0d9b5;
    border-left: 1px solid #f0d9b5;
}

.h8 {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-bottom: 1px solid #f0d9b5;
    border-right: 1px solid #f0d9b5;
}*/

/*.white-left {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-left: 1px solid #f0d9b5;
}*/

/*.white-right {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-right: 1px solid #f0d9b5;
}*/

/*.white-top {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-top: 1px solid #f0d9b5;
}*/

/*.white-bottom {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-bottom: 1px solid #f0d9b5;
}*/

.border-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;

     background-color: #90633e;
     font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
     font-size: 30px;
     border: solid #90633e;
     
}  

#sidebar {
    background-color: red;
    float:left;
    width: 250px;
    height:200px;

}
*{margin: 0;
padding: 0;}

nav {
  width: 115px;
  height: 100vh;
  background-color: #ff0000; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  overflow: hidden;
  transition: width 0.3s ease;
}

nav:hover {
  width: 250px
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  width: 100%;
}

ul li a {
  display: block;
  width: 100%;
  padding: 14px 25px;
  color: #ffffff;
  transition: 0.3s ease, padding-left 0.3s ease;
}

ul li a:hover {
  background: #ffffff;
  padding-left: 35px;
}

