#page-container {
  display:flex;
  justify-content: center;
  align-items:center;

  background-image:url(../Images/wooden-background.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height:100vh;
 }

 #menu-page-container {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
  padding-top:1.25rem;
  width:50vw;
  padding-left:5vh;
  
 }

 #menu-page-container2 {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
  padding-top:1.25rem;
  padding-left:100px;
 }

#menu-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  background-image:url(../Images/wooden-background.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height:100vh;
  }

#chessboard {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  width: 95vw;       
  max-width: 600px;  
  height: auto;  
  aspect-ratio:1/1;
  position:relative;

  text-align: center;
  color:#f0d9b5;
  margin:auto;
  box-sizing:border-box;
  filter: drop-shadow(0px 0px 50px black);
}

.chess-square {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio:1/1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  position: relative;  
}

.white-square {
  background-color: var(--light-square);
  border: solid var(--light-square);
}

.black_square {
  background-color: var(--dark-square);
  border: solid  var(--dark-square);
}

:root {
  --light-square: #f0d9b5;
  --dark-square: #b58863;
  --border-square: #90633e;
}

.border-square {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  position: relative; 

  background-color: var(--border-square);
  font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
  font-size: 3vh;
  border: solid var(--border-square);
  
}  

.chess-square::before,
.border-square::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.classic {
--light-square: #f0d9b5;
--dark-square:  #b58863;
--border-square: #90633e;
}

.dark {
--light-square: #6f6f6f;
--dark-square:  #3c3e45;
--border-square: #18161b;
}

.green {
--light-square: #d4d7b3;
--dark-square:  #667758;
--border-square: #2d512f; 
}

*{margin: 0;
padding: 0;}

nav {
  width: 6.875rem;
  height: 100vh;
  background-color: #3d241b; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
  filter: drop-shadow(0px 0px 10px black);

}

nav:hover {
  width: 15.625rem;
}

ul {
  width: 12.5rem;
  padding-top: 1.875rem;
  margin: 0;

}

ul li {
  list-style: none;
  width: 100%;
  height: 100%;
}

ul li a {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  width: 100%;
  height: auto;
  padding: .625rem 1.5625rem;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-size: 1.5625rem;

  transition: 0.3s ease, padding-left 0.3s ease;
}

ul li img {
  height: 60px;
  width: 60px;
  object-fit: contain;
  flex-shrink: 0;
}
ul li p {
  color: #ffedcd;
  margin: 0px;
  white-space: nowrap;
  transition: color 0.3s ease;
}

ul li a:hover {
  background: #ffedcd;
  padding-left: 35px;
  height: 40%;
  width: 100%;
}

ul li a:hover > p {
  color:#39231b;
}


#menu-page-container > p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffedcd;
  margin-bottom: 15px;
  padding-right: 40px;
}

.rules {
  font-size: 1.125rem;
  text-shadow: .125rem .125rem .125rem black;
  letter-spacing:.05rem
}

.rule-title {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
  padding-left:5vh;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: .125rem .125rem .375rem black;
  color: #ffedcd;
  letter-spacing: .01rem;
  word-spacing: .1rem;
  padding-left:2vh;
  padding-top:45%;
}

.note {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffedcd;
  text-shadow: .125rem .125rem .375rem black;
  letter-spacing: .01rem;
  word-spacing: .1rem;
}

#menu-page-container .title {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: .125rem .125rem .375rem black;
  letter-spacing: .1rem;
  
}

#header {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: .125rem .125rem .375rem black;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffedcd;
  margin-bottom: 15px;
}



.selected{
  background-color: green;
}

.theme-options {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  filter: drop-shadow(0px 0px 9px black);

}

.theme-options img {
  width: 25rem;
  height: 25rem; 
  object-fit: contain;
  padding: 1rem;
}

.theme-options:hover {
  transform: scale(1.03);
}

.themes {
  display: flex;
  gap: 1rem;
  justify-content: auto;
}

.video-container iframe{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  float:right;
  margin:5px;
  padding-top:10%;
  padding-left:9.375rem;
  padding-bottom: 40.25%;
  overflow: visible;
  filter: drop-shadow(0px 0px 9px black);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media(max-width: 768px){
    nav {
        width: 100%;
        height: 6.875rem;
        transition: height 0.3s ease;
    }
    nav:hover {
        height: 8.625rem;
        width: 100%;
    }
    ul {
        height: 6.875rem;
        display: flex;
        float: left;
    }
    ul li{
        padding-right: 30%;
    }
    ul li a:hover {
        padding-left: 15%;
        height: 100%;
        width: 100%;
    }

    #chessboard {
      width: 80vw;        
      max-width: 80vw;
      aspect-ratio: 1/1;
      padding-top:20%;
    }

    .chess-square{
        aspect-ratio: 1/1;
    }
    .border-square{
      aspect-ratio: 1/1;
      
    }

   #menu-bg {
        display: flex;               
        flex-direction: column;   
        align-items: center;  
    }

    .video-container iframe{
      width: 100%;
      height: auto;
      padding:0;
      float:none;
      align-items:center;
    }

    #menu-page-container2 {
    padding-top:25%;
    padding-left:0;
    }

    .rule-title{
      padding:0;
    }
    }

@media(max-width: 1450px){   
    .themes {
    flex-direction: column; 
    align-items: center;    
    gap: 1rem;               
    margin-left: 0;
    }

    .theme-options {
        width: 120px;          
        height: auto;          
        padding: 0.5rem;        
    }

    .theme-options {
        width: 120px;            
        height: auto;           
        padding: 0.5rem;        
    }
   }

html, body {
    overflow-x: hidden;
}