#page-container {
  display:flex;
  justify-content: center;
  align-items:center;

  background-image:url(../Images/wooden-background.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height:100vh;
 }

 #menu-page-container {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
  padding-left:9.375rem;
  padding-top:1.25rem;
 }

#menu-bg {
  background-image:url(../Images/wooden-background.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height:125vh;
  }

#chessboard {
    /* float:right;*/ 
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 43vw;
    height: 100%;
    aspect-ratio:1/1;

    text-align: center;
    color:#f0d9b5;
    margin:auto;
    box-sizing:border-box;
    filter: drop-shadow(0px 0px 50px black);
  }

.chess-square {
    aspect-ratio:1/1;
    /*border: 1px solid  #000000;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}

.white-square {
    background-color: var(--light-square);
    border: solid var(--light-square);
}

.black_square {
     background-color: var(--dark-square);
     border: solid  var(--dark-square);
}

:root {
  --light-square: #f0d9b5;
  --dark-square: #b58863;
  --border-square: #90633e;
}

.border-square {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;

  background-color: var(--border-square);
  font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
  font-size: 1.875rem;
  border: solid var(--border-square);
  
}  

.classic {
--light-square: #f0d9b5;
--dark-square:  #b58863;
--border-square: #90633e;
}

.dark {
--light-square: #6f6f6f;
--dark-square:  #3c3e45;
--border-square: #18161b;  
}

.green {
--light-square: #d4d7b3;
--dark-square:  #667758;
--border-square: #2d512f; 
}

*{margin: 0;
padding: 0;}

nav {
  width: 6.875rem;
  height: 100vh;
  background-color: #3d241b; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
  filter: drop-shadow(0px 0px 10px black);

}

nav:hover {
  width: 15.625rem;
}

ul {
  width: 12.5rem;
  padding-top: 1.875rem;
  margin: 0;

}

ul li {
  list-style: none;
  width: 100%;
  height: 100%;
}

ul li a {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  width: 100%;
  height: auto;
  padding: .625rem 1.5625rem;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-size: 1.5625rem;

  transition: 0.3s ease, padding-left 0.3s ease;
}

ul li img {
  height: 60px;
  width: 60px;
  object-fit: contain;
  flex-shrink: 0;
}
ul li p {
  color: #ffedcd;
  margin: 0px;
  white-space: nowrap;
  transition: color 0.3s ease;
}

ul li a:hover {
  background: #ffedcd;
  padding-left: 35px;
  height: 40%;
  width: 100%;
}

ul li a:hover > p {
  color:#39231b;
}

#header {
  font-size:45px;
}

#menu-page-container > p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffedcd;
  margin-bottom: 15px;
  padding-right: 40px;
}

#menu-page-container .rules {
  font-size: 1.125rem;
  text-shadow: .125rem .125rem .125rem black;
  letter-spacing:.05rem
}

#menu-page-container .rule-title {
  font-weight: bold;
  font-size: 1.5625rem;
  text-shadow: .125rem .125rem .375rem black;
  letter-spacing: .05rem;
}

#menu-page-container .note {
  font-size: 1.125rem;
  font-weight: bold;
  text-shadow: .125rem .125rem .375rem black;
  letter-spacing: .01rem;
}

#menu-page-container .title {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: .125rem .125rem .375rem black;
  letter-spacing: .1rem;
}

#header {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffedcd;
  margin-bottom: 15px;
}

.selected{
  background-color: green;
}

/*.a1 {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-top: 1px solid #f0d9b5;
    border-left: 1px solid #f0d9b5;
}

.h8 {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-bottom: 1px solid #f0d9b5;
    border-right: 1px solid #f0d9b5;
}*/

/*.white-left {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-left: 1px solid #f0d9b5;
}*/

/*.white-right {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-right: 1px solid #f0d9b5;
}*/

/*.white-top {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-top: 1px solid #f0d9b5;
}*/

/*.white-bottom {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    border-bottom: 1px solid #f0d9b5;
}*/